<h1>Followed Contacts</h1>

<% if @friends.count > 1  %>
  <table class="table table-bordered table-hover">
    <thead>
      <tr>
        <th scope="col">Email</th>
        <th scope="col">First Name</th>
        <th scope="col">Last Name</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
      <% @friends.each do |friend| %>
        <tr>
          <td><%= friend.email %></td>
          <td><%= friend.first_name %></td>
          <td><%= friend.last_name %></td>
          <td><%= button_to "Remove Friends List", friendship_path(friend), method: :delete, class: "btn btn-danger"%></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<%else %>
  <p>You don't have followed contacts, you should add someone in your list</p>
<%   end %>

<%= link_to "Back to Users", users_path, class: "btn btn-secondary" %>